

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /index.html [L]
    RewriteCond %{HTTP_HOST} test\.vernissage-art\.ru [NC]
    RewriteCond %{SERVER_PORT} 88
    RewriteRule ^(.*)$ https://vernissage-art.ru/$1 [R,L]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
